## LINE settings
LINE_CHANNEL_ID=1234567890
LINE_CHANNEL_SECRET=aaaaabbbbbcccccdddddeeeeefffff00

## DB setting
SQLITE_FILE=/db/db.sqlite

## Web App settings
APP_TITLE=line-login-micro-service
# APP_PORT=8000
# APP_PAGE_CONTEXT_PATH=/llms
# APP_API_CONTEXT_PATH=/llms/api

## Callback would be f"{APP_PUBLIC_URL}{APP_PAGE_CONTEXT_PATH}"
# APP_PUBLIC_URL=https://example.com

# CORS setting
# APP_ALLOW_ORIGINS=https://example.com,https://example2.com
# APP_ALLOW_ORIGINS=*
