## LINE settings
LINE_CHANNEL_ID="1234567890"
LINE_CHANNEL_SECRET="aaaaabbbbbcccccdddddeeeeefffff00"

## PocketBase settings
PB_HOST=http://pocketbase:8090
PB_ADMIN=admin@example.com
PB_PASSWORD=password1234

## Web App settings
APP_TITLE="LineLoginMicroService"
# APP_PORT=8000
# APP_PAGE_CONTEXT_PATH="/llms"
# APP_API_CONTEXT_PATH="/llms/api"

# CORS setting
# APP_ALLOW_ORIGINS=https://example.com,https://example2.com
# APP_ALLOW_ORIGINS=*
