## LINE settings
LINE_CHANNEL_ID="1234567890"
LINE_CHANNEL_SECRET="aaaaabbbbbcccccdddddeeeeefffff00"

## DB setting
SQLITE_FILE="/db/db.sqlite"

## Web App settings
APP_TITLE="LineLoginMicroService"
# APP_PORT=8000
# APP_PAGE_CONTEXT_PATH="/llms"
# APP_API_CONTEXT_PATH="/llms/api"

# CORS setting
# APP_ALLOW_ORIGINS=https://example.com,https://example2.com
# APP_ALLOW_ORIGINS=*
